
/*
Project Name: Tulika Ahuja's Portfolio
Client: Tulika
Author: Prerna Gupta
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.9);
}

a {
  text-decoration:none;
  outline:none !important;
  border-style: none;
}

li{
  list-style-type: none;
  text-decoration:none;
}
/*LANDING PAGE*/


#main-header{
width: 100%;
height: 70px;
position:fixed;
display: block;
background-color: rgba(0,0,0,0) !important;
margin: 0;
padding: 1.2%;
z-index: 1;
}


/*Burger menu styling */
#nav{
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background:#FFC400;
  opacity:1;
  padding:5% 8%;
  text-align:center;
  margin:0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: black;
  letter-spacing: 0.4em;
}

#nav li a{
  font-size:2em;
  color:white;
  line-height:4;
}

#nav p{
  font-size: .7em;
  letter-spacing:none;
  position: absolute;
  bottom: 2px;
  left: 20%;
  right:20%;
  color: white;
}

#nav li a:hover, #nav li a:active {
     background-color: #FFC400;
     color:black;
     padding: 3px;
     font-weight: 700;
}

@media only screen and (max-width: 768px){
#nav{
  padding-top:14%;
}
}

#collapse-menu {
 position: absolute;
 display: inline-block;
 right:20px;
 top: 5px;
 margin: 0;
}

.icon{
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  margin: 15px;
  z-index:1000;
}

#top-line {
  top: 5px;
}

#middle-line{
  top: 15px;
}

#bottom-line{
  top: 25px;
 }

.bars {
  background:black ;
  width: 30px;
  height: 5px;
  transition: 0.6s ease;
  transition-timing-function: ease-out;
  position: absolute;
  border-radius: 10px;
}

/* classes to add in jquery for burger menu */
.top-transform{
  background:black;
  top: 15px ;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg) translateY(14px);
}

.mid-transform{
  opacity: 0;
}

.bottom-transform{
  background:black;
  top: 15px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg) translateY(-14px);
}


/* landing page*/

#main-container {
  width: 100%;
  height: 100%;
  position:fixed;
  background:  url(../images/home-page.jpg) no-repeat top center #131e27;
  background-size: cover;
  /*background-size: 100%;*/
}

#middleContainer{
  margin-top: 70px;
  height:100%;
  width:100%;
  position:fixed;
  }

.main-name{
/*width:50%;*/
text-align: center;
margin:20% 20% 20% 40%;
/*margin:256px 256px 256px 512px;*/
position: absolute;
}

.main-name p {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 32px;
  letter-spacing: 0.25em;
  position: fixed;
  z-index: 1000;
}

@media only screen and (min-width: 800px) and (max-width: 1024px){
  .main-name {
    margin-top: 24%;
  }
}

@media only screen and (max-width: 768px){
  .main-name {
    bottom:50%;
    right:30%;
  }

}

/* other pages*/

#container {
  width: 100%;
  height: 100%;
  position:absolute;
}

header{
width: 100%;
height: 70px;
position:fixed;
display: block;
background-color:white;
margin: 0;
padding: 1.2%;
z-index: 1;
}

 header h1 {
   color: black;
   display:inline;
   padding-left: 8%;
   padding-top: 4%;
   font-family: 'Oswald', sans-serif;
   font-weight: 300;
   font-size: 1.2em;
   letter-spacing: 0.3em;
}


#logo{
  display: inline-block;
  position: absolute;
  width:500px;
}

/*photography*/
.img-container{
  position: absolute;
  width:100%;
  height:auto;
  background-color: white;
  padding-bottom: 15%;
  margin-top: 70px;
}

.images {
  min-height: 200px;
  margin-left: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  opacity: 0;
  transition: opacity .4s ease;
}

.images ul{
  padding:0;
}

.images li{
  list-style-type: none;
}

.images img {
  +size(100% auto)
  display:block;
  height:auto;
  max-width:55%;
}

.images.visible {
  opacity: 1;
}

.description{
  color: white;
  font-family: 'Oswald', sans-serif;
  background-color: rgba(0,0,0,.8);
  width:100%;
  height:160px;
  position:fixed;
  bottom:0;
  padding-bottom:1px;
}

.description h2{
  display: inline-block;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: .2em;
  position: absolute;
  top:6%;
}

.description p{
  position: absolute;
  font-size: 0.8em;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  width:65%;
  top:29%;
  letter-spacing: .05em;
}

#writing-left{
  left:4.5%;
}

.writing-right{
  left:30%;
}

.description a #previous{
  display: block;
  color: white;
  position: absolute;
  top:50%;
  left:8%;
}

.description a #next{
  display: block;
  color: white;
  position: absolute;
  top:50%;
  left:12%;
}


@media only screen and (min-width: 800px) and (max-width: 1024px){
  .description{
    height:180px;
  }
.description h2{
  font-size: 1em;
}

.images img {
  max-width:70%;
}
}

@media only screen and (max-width: 768px){

  .description{
    height:200px;
    position:fixed;
    bottom:0;
    padding-bottom:1px;
  }
  .description h2{
    font-size: 1em;
  }
  .description p {
    top:25%;
    font-size: 0.7em;
  }
  .img-container{
    padding-bottom:200px;
  }

.images{
  opacity: 1;
}
.images img {
  max-width:70%;
}
}

#safari{
  color:white;
  text-decoration: underline;

}
/*About page*/

.about-container {
  position: fixed;
  width:100%;
  height:auto;
  background-color: white;
  top: 70px;
  bottom:0px;
}

.aboutimg img{
  +size(100% auto);
  width:350px;
  position:absolute;
  left:250px;
  top:35px;
}

.aboutdescr{
  position: fixed;
  right:220px;
  top:130px;
  width :33%;
  height:300px;
  line-height: 1.5;
  font-family: 'Playfair Display', serif;
}

.iconsocial , .social p{
  color: white;
  display: inline;
  margin: 0;
  position: absolute;
  top:35%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: .2em;
}

.iconsocial:first-child{
  left:4.5%;
}

.iconsocial:nth-child(2){
  left:10%;
}

.social p{
  margin-left: 42%;
}

/*@media only screen and (max-width: 768px){

   .about-container{
     position: absolute;
   }
    .aboutimg{
      width:100%;
    }
  .aboutimg img{
    +size(100% auto);
    width:150px;
    left:130px;
    position:relative;
    height: auto;
    display: block;

  }

  .aboutdescr{
    display:block;
    position:relative;
    text-align: center;
    width:70%;
    left:15%;
    top:50px;
    font-size: .75em;
  }
  .social {
    height:150px;
    font-size: .75em;
  }

  .iconsocial:nth-child(2){
    left:15%;
  }
  .social p{
    margin-left: 35%;
  }
}

 /*@media only screen(max-width: 1024px){
   .about-container {
     position: fixed;
     width:100%;
     height:auto;
     background-color: white;
     top: 70px;
     bottom:190px;
   }


   .aboutimg img{
     +size(100% auto);
     width:80%;
     position:absolute;
     left:2%;
     top:18%;
   }

   .aboutdescr{
     position: fixed;
     right:10%;
     top:24.5%;
     width :45%;
   }
 }*/*/

/* padchinh page */
.vid-container{
  position: fixed;
  width:100%;
  background:white;
  height:auto;
  bottom:160px;
  top:70px;
}

.vid-container video{
  width:50%;
  height:auto;
  margin:0 auto;
  background-color:white;
  display: absolute;

}

video#bgvid {
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

/*writing section*/
.writing-container{
position: absolute;
width:100%;
height:auto;
}

.writing-container article{
  position: absolute;
  width:100%;
  height:auto;
  background-color: white;
  position:absolute;
  height:auto;
  padding: 2% 15% 10%;
  margin-top: 70px;
}

.writing-description{
color: white;
background-color: black;
width:100%;
height:120px;
position:fixed;
bottom:0;
}
.writing-description a i{
position: relative;
text-decoration:none;
color:white;
display: inline-block;
padding: 0;
margin: 0;
outline:none !important;
border-style: none;
}

#writing-left{
position: absolute;
left:5%;
top:6%;
}

#writing-right{
position: absolute;
right:5%;
top:6%;
}

.writing-description a #next{
display: block;
position: absolute;
top:50%;
right:5%;
}
