
/*
Project Name: Tulika Ahuja's Portfolio
Client: Tulika
Author: Prerna Gupta
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.9);
}

a {
  text-decoration:none;
  outline:none !important;
  border-style: none;
}

li{
  list-style-type: none;
  text-decoration:none;
}
/*LANDING PAGE*/


#main-header{
width: 100%;
height: 70px;
position:fixed;
display: block;
background-color: rgba(0,0,0,0) !important;
margin: 0;
padding: 1.2%;
z-index: 1;
}


/*Burger menu styling */
#nav{
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background:#FFC400;
  opacity:1;
  padding:5% 8%;
  text-align:center;
  margin:0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: black;
  letter-spacing: 0.4em;
}

#nav li a{
  font-size:2em;
  color:white;
  line-height:4;
}

#nav p{
  font-size: .7em;
  letter-spacing:none;
  position: absolute;
  bottom: 2px;
  left: 20%;
  right:20%;
  color: white;
}

#nav p a {
  color: white;
  /*font-weight: 500;*/
  text-decoration: underline;

}

#nav li a:hover, #nav li a:active {
     background-color: #FFC400;
     color:black;
     padding: 3px;
     font-weight: 700;
}

@media only screen and (max-width: 768px){
#nav{
  padding-top:14%;
}
}

#collapse-menu {
 position: absolute;
 display: inline-block;
 right:20px;
 top: 5px;
 margin: 0;
}

.icon{
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  margin: 15px;
  z-index:1000;
}

#top-line {
  top: 5px;
}

#middle-line{
  top: 15px;
}

#bottom-line{
  top: 25px;
 }

.bars {
  background:black ;
  width: 30px;
  height: 5px;
  transition: 0.6s ease;
  transition-timing-function: ease-out;
  position: absolute;
  border-radius: 10px;
}

/* classes to add in jquery for burger menu */
.top-transform{
  background:black;
  top: 15px ;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg) translateY(14px);
}

.mid-transform{
  opacity: 0;
}

.bottom-transform{
  background:black;
  top: 15px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg) translateY(-14px);
}


/* landing page*/

#main-container {
  width: 100%;
  height: 100%;
  position:fixed;
  background:  url(../images/home-page.jpg) no-repeat top center #131e27;
  background-size: cover;
  /*background-size: 100%;*/
}

#middleContainer{
  height:100%;
  width:100%;
  position:fixed;
  }

.main-name{
width: 100%;
text-align: center;
position: absolute;
top: 55%;
left: 50%;
transform: translate(-50%, -50%);

}

.main-name p {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 2em;
  letter-spacing: 0.25em;
  z-index: 1000;
}

@media only screen and (max-width: 1200px){
  .main-name p{
    font-size: 2em;
    width:100%;
    top:50%;
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-45%, -55%);
  }
}

/* other pages*/

#container {
  width: 100%;
  height: 100%;
  position:absolute;
}

header{
width: 100%;
height: 10%;
position:fixed;
display: block;
background-color:white;
margin: 0;
padding: 1.2%;
z-index: 1;
clear: both;
}

 header h1 {
   color: black;
   display:inline;
   padding-left: 8%;
   padding-top: 4%;
   font-family: 'Oswald', sans-serif;
   font-weight: 300;
   font-size: 1.2em;
   letter-spacing: 0.3em;
}


#logo{
  display: inline-block;
  position: absolute;
  width:500px;
}

/*photography*/
.img-container{
  position: absolute;
  width:100%;
  height:67%;
  /*padding-bottom: 15%;*/
  margin-top: 70px;
  /*background: rgba(255, 255, 255, 0.7);*/
  /*overflow: scroll;*/
}
.background-image{
  width:100%;
  height: 100%;
  background:  url(../images/background.jpg) no-repeat top center #131e27;
  background-size: cover;
  position: fixed;

}

.images {
  min-height: 200px;
  margin-left: 30%;
  padding-top: 14px;
  padding-bottom: 30px;
  color: white;
  opacity: 0;
  transition: opacity .4s ease;
}

.images ul{
  padding:0;
}

.images li{
  list-style-type: none;
}

.images img {
  +size(100% auto)
  display:block;
  height:auto;
  max-width:60%;
}

.images.visible {
  opacity: 1;
}

.description{
  color: white;
  font-family: 'Oswald', sans-serif;
  background-color: rgba(0,0,0,.8);
  width:100%;
  height:23%;
  position:fixed;
  bottom:0;
  padding-bottom:1px;
  /*z-index:2;*/
}

.description h2{
  display: inline-block;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: .2em;
  position: absolute;
  top:6%;
}

.description p{
  position: absolute;
  font-size: 0.8em;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  width:65%;
  top:29%;
  letter-spacing: .05em;
}

#writing-left{
  left:4.5%;
}

.writing-right{
  left:30%;
}

.description a #previous{
  display: block;
  color: white;
  position: absolute;
  top:50%;
  left:7%;
}

.description a #next{
  display: block;
  color: white;
  position: absolute;
  top:50%;
  left:12%;
}


@media only screen and (min-width: 800px) and (max-width: 1024px){
  .description{
    height:180px;
  }
.description h2{
  font-size: 1em;
}

.images img {
  max-width:70%;
}
}

@media only screen and (max-width: 768px){

  .description{
    height:200px;
    position:fixed;
    bottom:0;
    padding-bottom:1px;
  }
  .description h2{
    font-size: .75em;
  }
  .description p {
    top:25%;
    font-size: 0.6em;
  }
  .img-container{
    padding-bottom:200px;
  }

.images{
  opacity: 1;
}
.images img {
  max-width:70%;
}
}

#safari{
  color:white;
  text-decoration: underline;

}
/*About page*/

.about-container {
  position:absolute;
  width:100%;
  background-color: white;
  top: 10%;
  bottom: 0;
}

.about-content {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  display: table;
}

.aboutimg, .aboutdescr {
  padding: 0 3%;
  display: table-cell;
}

.aboutimg {
  width: 50%;
}

.aboutimg img{
  max-width: 100%;
}

.aboutdescr p {
  margin-top: 0;
}
.aboutdescr{
  width: 50%;
  vertical-align:middle;
  height: auto;
  line-height: 1.5;
  font-size: 1em;
  font-family: 'Playfair Display', serif;
}

.socialmedia{
  float: left;
  padding: 2.7%;
}

#email {
  float: right;
  position: relative;
  margin: 0;
}

.socialmedia a {
  color: white;
}

.social {
  height:19%;
  width: 100%;
  /*padding-top: 2%;*/
  /*display: inline-block;
  text-align: center;*/
}
.socialmedia a {
  color: white;
}

.socialicon , .social p{
  color: white;
  /*position: relative;*/
  /*display: inline;*/
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: .2em;
}

 @media only screen and (max-width: 1080px){

 .aboutdescr{
  font-size: .9em;
 }
 .about-container{
   padding-top: 5%;
 }
}

@media only screen and (max-width:986px){

.aboutdescr{
 font-size: .85em;
}
}

 @media only screen and (max-width: 768px){

.about-container{
  text-align: center;
}
.aboutimg, .aboutdescr {
     display: block;
     width:100%;
}
.aboutimg{
  width:47%;
  margin: auto;
}

.aboutdescr{
    font-size: .9em;
}

.social p , .socialmedia{
  font-size: .9em;
}

.socialmedia{
  float: left;
  padding-top: 5%;
}
 }


/* padchinh page */
.vid-container{
  position: fixed;
  width:100%;
  background:white;
  height:auto;
  bottom:160px;
  top:70px;
}

.vid-container video{
  width:50%;
  height:auto;
  margin:0 auto;
  background-color:white;
  display: absolute;

}

video#bgvid {
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover;
}

/*writing section*/
.writing-container{
position: absolute;
width:100%;
height:auto;
}

.writing-container article{
  position: absolute;
  width:100%;
  height:auto;
  background-color: white;
  position:absolute;
  height:auto;
  padding: 2% 15% 10%;
  margin-top: 70px;
}
/*work section*/

#inProgress{
  background-color: white;
}
