
/*
Project Name: Tulika Ahuja's Portfolio
Client: Tulika
Author: Prerna Gupta
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.9);
  clear: both;
}



header{
width: 100%;
height: 70px;
position:fixed;
display: block;
background-color:white;
margin: 0;
padding: 1.2%;
z-index: 1;
}


header h1 {
   color: black;
   display:inline;
   padding-left: 8%;
   padding-top: 4%;
   font-family: 'Oswald', sans-serif;
   font-weight: 300;
   font-size: 1.2em;
   letter-spacing: 0.3em;
}
header a {
  text-decoration:none;
  outline:none !important;
  border-style: none;
}

#logo{
  display: inline-block;
  position: absolute;
  width:500px;
}
/*Burger menu styling */
#nav{
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background:#FFC400;
  opacity:1;
  padding:6% 8%;
  text-align:center;
  margin:0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 1em;
  letter-spacing: 0.4em;
}

#nav li{
  list-style-type: none;
  text-decoration:none;
}

#nav li a{
  text-decoration:none;
  font-size:2em;
  color:white;
  line-height:4;

}

#nav li a:hover, #nav li a:active {
     background-color: #FFC400;
     color:black;
     padding: 3px;
     font-weight: 700;
}

#collapse-menu {
 position: absolute;
 display: inline-block;
 right:20px;
 top: 5px;
 margin: 0;
}

@media only screen and (max-width: 768px){
  #nav li a{
    font-size:3em;
    line-height:4;
  }
}

@media only screen and (max-width: 1024px){
  #nav li a{
    font-size:2.5em;
    line-height:4;
  }
}
.icon{
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  margin: 15px;
  z-index:1000;
}


#top-line {
  top: 5px;
}

#middle-line{
  top: 15px;
}

#bottom-line{
  top: 25px;
 }

.bars {
  background:black ;
  width: 30px;
  height: 5px;
  transition: 0.6s ease;
  transition-timing-function: ease-out;
  position: absolute;
  border-radius: 10px;

}

/* classes to add in jquery for burger menu */
.top-transform{
  background:black;
  top: 15px ;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg) translateY(14px);

}
.mid-transform{
  opacity: 0;
}
.bottom-transform{
  background:black;
  top: 15px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg) translateY(-14px);
}


/*homepage*/

#main-container {
  width: 100%;
  height: 100%;
  position:fixed;
  background:  url(../images/home-page.jpg) no-repeat top center #131e27;
  background-size: cover;
}

#middleContainer{
  margin-top: 70px;
  height:100%;
  width:100%;
  position:fixed;
  }

.main-name{
width:50%;
text-align: center;
margin:20%;

}

.main-name p {
  /*position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:0;*/
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 3em;
  letter-spacing: 0.25em;
}

/*porfolio pages*/
#container {
  width: 100%;
  height: 100%;
  position:absolute;

}

.img-container{
  position: absolute;
  width:100%;
  height:auto;
  background-color: white;
  position:absolute;
  height:auto;
  /*padding-top: 2%;*/
  padding-bottom: 10%;
  margin-top: 70px;
}

.images {
  min-height: 200px;
  margin-left: 30%;
  padding-bottom: 20px;
  color: white;
  opacity: 0;
  transition: opacity .4s ease;
}


.images ul{
  padding:0;
}
.images li{
  list-style-type: none;
}
.images img {
  +size(100% auto)
  display:block;
  height:auto;
  max-width:55%;
  margin:;
}

.images.visible {
  opacity: 1;
}

@media only screen and (max-width: 768px){
  .images {
    opacity: 1;
  }
  .images img {
    margin:0 10% 3%;
    max-width:70%;
  }
}
.description{
  color: white;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color: rgba(0,0,0,.8);
  width:100%;
  height:160px;
  position:fixed;
  bottom:0;
  padding-bottom:1px;
}
@media only screen and (max-width: 768px){
  .description{
    height:250px;
  }
}
.description h2{
  display: inline-block;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: .2em;
  padding: 10px 10px 3px 10px;
  margin: 0;
}
.description p{
  font-size: 0.8em;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
}

.description a i{
  position: relative;
  text-decoration:none;
  color:white;
  display: inline-block;
  padding: 0;
  margin: 0;
  outline:none !important;
  border-style: none;
}

#safari a{
  position: relative;
  text-decoration:none;
  color:white;
  display: inline-block;
  padding: 0;
  margin: 0;
  outline:none !important;
  border-style: none;
}

.description a #next{
  left:25%;
}

.description a #previous{
  right:25%;
}

@media only screen and (max-width: 768px){
  .description a #next{
    left:5%;
  }
  .description a #previous{
    right:5%;
  }
}
.description p {
  margin:0;
  padding: 0% 8%;
}

/* padchinh page */
.vid-container{
  position: fixed;
  width:100%;
  background:white;
  height:auto;
  bottom:160px;
  top:70px;
}

.vid-container video{
  width:50%;
  height:auto;
  margin:0 auto;
  background-color:white;
  display: absolute;

}

video#bgvid {
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

/*About page*/



.aboutimg {
  min-width:50%;
  float: left;
  position: fixed;
}

.aboutimg img{
  width:30%;
  position: fixed;
  +size(100% auto);
  margin:3% 0% 3.5% 17%;
}

.aboutdescr{
  float: right;
  width :30%;
  height:300px;
  margin:5% 17% 8% 2% ;
  line-height: 1.5;
  font-family: 'Playfair Display', serif;
}

.social {
  padding: 1.2%;
  display: block;
}
.social h3{
  margin: 0;
}

.social ul{
  margin:0;
  padding: 0;
}
.social p{
  padding-bottom: 9px;
}
.social ul li{
  list-style: none;
  padding-top:7px;
}

.iconsocial {
  display: inline;
  margin: 0 auto;
  padding: 4px;
  position:relative;
  }

  .iconsocial i {
    color:none;
  }

  @media only screen and (max-width: 1024px){
  .aboutimg{
    float: none;
    display:block;
    position: fixed;
    width:30%;
  }
  .aboutimg img {
    width:30%;
    margin-left: 35%;
  }
  .aboutdescr{
    width: 100%;
    padding: 20% 10% 5% 10%;
    float: none;
    display: fixed;
    position: relative;
    top:100px;
    font-family: 'Playfair Display', serif;
  }

  .social ul li i{
    padding-top:10px;
  }
  }





  /*writing section*/
.writing-container{
  position: absolute;
  width:100%;
  height:auto;
}

  .writing-container article{
    position: absolute;
    width:100%;
    height:auto;
    background-color: white;
    position:absolute;
    height:auto;
    padding: 2% 15% 10%;
    margin-top: 70px;
  }

.writing-description{
  color: white;
  background-color: black;
  width:100%;
  height:120px;
  position:fixed;
  bottom:0;
}
.writing-description a i{
  position: relative;
  text-decoration:none;
  color:white;
  display: inline-block;
  padding: 0;
  margin: 0;
  outline:none !important;
  border-style: none;
  clear: both;
}
#writing-left{
  position: absolute;
  left:5%;
  top:6%;

}

#writing-right{
  position: absolute;
  right:5%;
  top:6%;
}

.writing-description a #next{
  display: block;
  position: absolute;
  top:50%;
  right:5%;



}
/******************************************
/* LAYOUT
/*****
